* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #000;
  height: 100vh;
  overflow: hidden;
}
span {
  background: url(https://cdn2.iconfinder.com/data/icons/free-1/128/Love__heart_like-64.png);
  pointer-events: none;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: animate 6s linear;
  transition: 0.3s ease;
}
@keyframes animate {
  0% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -3000%);
    opacity: 0;
  }
}
